body, p {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(https://ecooboi.com.ua/files/cache/5c/5f/40/ecooboi-fon-iz-zelenyh-listjev-1585651393.jpg);
    /* background-image: url(https://static-cse.canva.com/blob/759807/vk1776.png); */
    background-attachment: fixed;
}
.container {
    margin: 0 auto;

    width: 80%;
}
.header__content {
    padding: 15px 50px;

    color: #fff;
    font-size: 20px;

    background-color: #052f0bdd;
    /* background-color: rgba(67, 0, 67, 0.9); */
}
.header__title {
    text-align: center;
}
.header__text {
    
}

.header__text p:not(:last-child) {
    margin-bottom: 15px;
}